body, html {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  padding: 0;
  margin: 0; }

h1, h2, h3 {
  font-weight: 100; }

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  background-color: transparent; }

table th {
  border-bottom: 2px solid #eceeef;
  text-align: left; }

table th,
table td {
  font-size: .8em;
  padding: .5em;
  border-top: 1px solid #eceeef; }

table th.buy,
table th.sell,
table td.buy,
table td.sell {
  text-align: right; }

tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05); }

.text-center {
  text-align: center; }
